site_name: ML Driving Behavior
theme:
  name: material
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
nav:
  - Home: index.md
  - Pipeline: pipeline.md
  - Experiments: experiments.md

